$white: #F5F1E3;
$black: #222222;
$lightblue: #BBCDE5;
$blue: #639FAB;
$darkblue: #1C5D99;

@font-face {
	font-family: 'mainText';
	src: url('../assets/Metrophobic-Regular.ttf');
}

@font-face {
	font-family: 'mainTitle';
	src: url('../assets/PirataOne-Regular.ttf');
}