@font-face {
  font-family: "mainText";
  src: url("../assets/Metrophobic-Regular.ttf");
}
@font-face {
  font-family: "mainTitle";
  src: url("../assets/PirataOne-Regular.ttf");
}
.about {
  display: grid;
  grid-template-columns: auto 10% 60% 10% auto;
  grid-template-rows: 150px 100px 40% 100px auto;
  min-height: 100vh;
  background-image: url("../assets/background.PNG");
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center center;
}
.about__title {
  color: #F5F1E3;
  font-size: 64px;
  grid-column: 3/3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  grid-row: 1;
}
.about__back {
  grid-column: 3/3;
  grid-row: 4;
  z-index: 2;
  display: flex;
  align-items: center;
}
.about__back__button {
  background-image: url("../assets/arrow-back.svg");
  height: 20px;
  width: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.about__box {
  grid-column: 2/5;
  grid-row: 2/5;
  background-color: #222222;
  opacity: 80%;
  border-radius: 5px;
  z-index: 1;
}
.about__header {
  color: #F5F1E3;
  grid-column: 3/3;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 2;
}
.about__text {
  color: #F5F1E3;
  grid-column: 3/3;
  grid-row: 3;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 2;
  overflow-y: scroll;
  margin: 0px;
}

.home {
  display: grid;
  grid-template-columns: auto 300px auto;
  grid-template-rows: auto 200px auto;
  min-height: 100vh;
  background-image: url("../assets/background.PNG");
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center center;
  color: #F5F1E3;
}
.home__title {
  grid-column: 2/2;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.home__menu {
  grid-column: 2/2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.home__menu__about {
  padding-top: 20px;
}
.home__menu__signup {
  padding-top: 20px;
}
.home__menu__login {
  padding-top: 20px;
}
.home__button {
  border: none;
  background-color: transparent;
  color: #F5F1E3;
  text-shadow: 2px 2px 8px #222222;
}
.home__button:hover {
  text-decoration: underline;
  cursor: pointer;
}
.home__github {
  height: 30px;
  width: 30px;
  align-items: center;
  background-image: url("../assets/github-logo.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  grid-column: 2/2;
  grid-row: 3;
  margin: auto;
  cursor: pointer;
}

.signup {
  display: grid;
  grid-template-columns: auto 35px 280px 35px auto;
  grid-template-rows: auto 300px minmax(1px, min-content) 100px auto;
  min-height: 100vh;
  background-image: url("../assets/background.PNG");
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center center;
}
.signup__title {
  color: #F5F1E3;
  font-size: 64px;
  grid-column: 3/3;
  display: flex;
  justify-content: center;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  grid-row: 1;
  position: relative;
  top: 20%;
}
.signup__box {
  grid-column: 2/5;
  grid-row: 2/5;
  background-color: #222222;
  opacity: 80%;
  border-radius: 5px;
  z-index: 1;
}
.signup__inputs {
  grid-column: 3/3;
  grid-row: 2;
  z-index: 3;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.signup__inputs__username {
  background: transparent;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #F5F1E3;
  width: 100%;
}
.signup__inputs__username__label {
  padding-bottom: 20px;
  color: #F5F1E3;
}
.signup__inputs__username:focus {
  outline: none;
  color: #F5F1E3;
  font-family: "mainText";
}
.signup__inputs__password {
  background: transparent;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #F5F1E3;
  width: 100%;
}
.signup__inputs__password__label {
  padding-bottom: 20px;
  color: #F5F1E3;
}
.signup__inputs__password:focus {
  outline: none;
  color: #F5F1E3;
  font-family: "mainText";
}
.signup__inputs__confirm {
  background: transparent;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #F5F1E3;
  width: 100%;
}
.signup__inputs__confirm__label {
  color: #F5F1E3;
}
.signup__inputs__confirm:focus {
  outline: none;
  color: #F5F1E3;
  font-family: "mainText";
}
.signup__inputs__email {
  background: transparent;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #F5F1E3;
  width: 100%;
}
.signup__inputs__email__label {
  padding-bottom: 20px;
  color: #F5F1E3;
}
.signup__inputs__email:focus {
  outline: none;
  color: #F5F1E3;
  font-family: "mainText";
}
.signup__check {
  grid-column: 3/3;
  grid-row: 3;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.signup__check__text {
  color: #F5F1E3;
  font-size: 12px;
}
.signup__check__list {
  color: #F5F1E3;
  font-size: 12px;
}
.signup__back {
  grid-column: 3/3;
  grid-row: 4;
  z-index: 2;
  display: flex;
  align-items: center;
}
.signup__back__button {
  background-image: url("../assets/arrow-back.svg");
  height: 20px;
  width: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.signup__continue {
  grid-column: 3/3;
  grid-row: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup__continue__button {
  background-color: transparent;
  color: #F5F1E3;
  border: none;
  z-index: 2;
  font-size: 20px;
}
.signup__continue__button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.login {
  display: grid;
  grid-template-columns: auto 35px 280px 35px auto;
  grid-template-rows: auto 250px 100px auto;
  min-height: 100vh;
  background-image: url("../assets/background.PNG");
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center center;
}
.login__title {
  color: #F5F1E3;
  font-size: 64px;
  grid-column: 3/3;
  display: flex;
  justify-content: center;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  grid-row: 1;
  position: relative;
  top: 20%;
}
.login__box {
  grid-column: 2/5;
  grid-row: 2/4;
  background-color: #222222;
  opacity: 80%;
  border-radius: 5px;
  z-index: 1;
}
.login__inputs {
  grid-column: 3/3;
  grid-row: 2;
  z-index: 3;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.login__inputs__username {
  background: transparent;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #F5F1E3;
  width: 100%;
}
.login__inputs__username__label {
  padding-bottom: 50px;
  color: #F5F1E3;
}
.login__inputs__username:focus {
  outline: none;
  color: #F5F1E3;
  font-family: "mainText";
}
.login__inputs__password {
  background: transparent;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #F5F1E3;
  width: 100%;
}
.login__inputs__password__label {
  color: #F5F1E3;
}
.login__inputs__password:focus {
  outline: none;
  color: #F5F1E3;
  font-family: "mainText";
}
.login__back {
  grid-column: 3/3;
  grid-row: 3;
  z-index: 2;
  display: flex;
  align-items: center;
}
.login__back__button {
  background-image: url("../assets/arrow-back.svg");
  height: 20px;
  width: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.login__continue {
  grid-column: 3/3;
  grid-row: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__continue__button {
  background-color: transparent;
  color: #F5F1E3;
  border: none;
  z-index: 2;
  font-size: 20px;
}
.login__continue__button:hover {
  text-decoration: underline;
  cursor: pointer;
}
.login__error {
  grid-column: 3/3;
  grid-row: 2;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.login__error__text {
  color: #F5F1E3;
}

.startingCharacter {
  display: grid;
  grid-template-columns: auto 35px 280px 35px auto;
  grid-template-rows: auto 350px minmax(1px, min-content) 100px auto;
  min-height: 100vh;
  background-image: url("../assets/background.PNG");
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center center;
}
.startingCharacter__title {
  color: #F5F1E3;
  font-size: 64px;
  grid-column: 3/3;
  display: flex;
  justify-content: center;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  grid-row: 1;
  position: relative;
  top: 20%;
}
.startingCharacter__box {
  grid-column: 2/5;
  grid-row: 2/5;
  background-color: #222222;
  opacity: 80%;
  border-radius: 5px;
  z-index: 1;
}
.startingCharacter__controls {
  grid-column: 3/3;
  grid-row: 2;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.startingCharacter__controls__left {
  background-image: url("../assets/arrow-back.svg");
  height: 20px;
  width: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.startingCharacter__controls__right {
  background-image: url("../assets/arrow-forward.svg");
  height: 20px;
  width: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.startingCharacter__character {
  grid-column: 3/3;
  grid-row: 2;
  z-index: 2;
  display: block;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}
.startingCharacter__character__img {
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}
.startingCharacter__continue {
  grid-column: 3/3;
  grid-row: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.startingCharacter__continue__button {
  background-color: transparent;
  color: #F5F1E3;
  border: none;
  z-index: 2;
  font-size: 20px;
}
.startingCharacter__continue__button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4E4E4E;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
}
.header__title__text {
  color: #F5F1E3;
  font-size: 64px;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100px;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.header__nav {
  display: flex;
  height: 50px;
  width: 40%;
  justify-content: space-between;
}
.header__nav__profile {
  display: inline-block;
  background-image: url("../assets/profile.svg");
  height: 25px;
  width: 25px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.header__nav__profile__active {
  display: inline-block;
  background-image: url("../assets/profile.svg");
  height: 25px;
  width: 25px;
  background-size: 100%;
  background-repeat: no-repeat;
  border-bottom: 1px solid #F5F1E3;
}
.header__nav__feed {
  display: inline-block;
  background-image: url("../assets/feed.svg");
  height: 25px;
  width: 25px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.header__nav__feed__active {
  display: inline-block;
  background-image: url("../assets/feed.svg");
  height: 25px;
  width: 25px;
  background-size: 100%;
  background-repeat: no-repeat;
  border-bottom: 1px solid #F5F1E3;
}
.header__nav__gacha {
  display: inline-block;
  background-image: url("../assets/gacha.svg");
  height: 25px;
  width: 25px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.header__nav__gacha__active {
  display: inline-block;
  background-image: url("../assets/gacha.svg");
  height: 25px;
  width: 25px;
  background-size: 100%;
  background-repeat: no-repeat;
  border-bottom: 1px solid #F5F1E3;
}
.header__nav__settings {
  display: inline-block;
  background-image: url("../assets/settings.svg");
  height: 25px;
  width: 25px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.header__nav__settings__active {
  display: inline-block;
  background-image: url("../assets/settings.svg");
  height: 25px;
  width: 25px;
  background-size: 100%;
  background-repeat: no-repeat;
  border-bottom: 1px solid #F5F1E3;
}
.header__nav__logout {
  cursor: pointer;
  background: none;
  border: none;
  background-image: url("../assets/logout.svg");
  height: 25px;
  width: 25px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.tasks {
  display: flex;
  flex-direction: column;
}
.tasks__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  height: 65px;
}
.tasks__list__buttons {
  display: flex;
  align-items: center;
}
.tasks__list__buttons__delete {
  height: 25px;
  width: 25px;
  background-image: url("../assets/trash.svg");
  background-color: transparent;
  background-size: 100%;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 15px;
  cursor: pointer;
}
.tasks__list__buttons__done {
  height: 30px;
  width: 70px;
  background-image: url("../assets/done.svg");
  background-color: #BBCDE5;
  background-size: 40%;
  border: none;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.tasks__list__task {
  display: inline-block;
}
.tasks__list__task:hover + .tasks__list__note {
  cursor: default;
  display: block;
}
.tasks__list__task__text {
  color: #F5F1E3;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  letter-spacing: 0;
  word-spacing: 0;
  white-space: nowrap;
  padding-right: 5px;
}
.tasks__list__note {
  display: none;
}
.tasks__list__note__text {
  color: #BBCDE5;
  background-color: #4E4E4E;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  letter-spacing: 0;
  word-spacing: 0;
}

.taskForm {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(78, 78, 78, 0.8);
  min-height: 100vh;
  z-index: 10;
  top: 0;
  left: 0;
}
.taskForm__form {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: 350px;
  background-color: #222222;
  color: #F5F1E3;
  border: #F5F1E3 1px solid;
  border-radius: 5px;
}
.taskForm__form__inputs {
  display: flex;
  flex-direction: column;
}
.taskForm__form__inputs__title {
  background: transparent;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #F5F1E3;
  width: 300px;
  padding-top: 20px;
}
.taskForm__form__inputs__title__label {
  padding-bottom: 20px;
  color: #F5F1E3;
}
.taskForm__form__inputs__title:focus {
  outline: none;
  color: #F5F1E3;
  font-family: "mainText";
}
.taskForm__form__inputs__note {
  background: transparent;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #F5F1E3;
  width: 300px;
}
.taskForm__form__inputs__note__label {
  padding-bottom: 20px;
  color: #F5F1E3;
}
.taskForm__form__inputs__note:focus {
  outline: none;
  color: #F5F1E3;
  font-family: "mainText";
}
.taskForm__form__inputs__time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.taskForm__form__inputs__time__input {
  display: flex;
  background-color: transparent;
  color: #F5F1E3;
  border: none;
}
.taskForm__form__inputs__time__input__h {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #F5F1E3;
  text-align: center;
  width: 40px;
  cursor: help;
}
.taskForm__form__inputs__time__input__h::-webkit-inner-spin-button, .taskForm__form__inputs__time__input__h::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.taskForm__form__inputs__time__input__m {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #F5F1E3;
  text-align: center;
  width: 40px;
  cursor: help;
}
.taskForm__form__inputs__time__input__m::-webkit-inner-spin-button, .taskForm__form__inputs__time__input__m::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.taskForm__form__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  width: 200px;
}
.taskForm__form__buttons__back {
  background-image: url("../assets/arrow-back.svg");
  height: 20px;
  width: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.taskForm__form__buttons__submit {
  color: #F5F1E3;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.taskForm__form__text {
  margin-top: 0px;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.profile {
  display: grid;
  grid-template-columns: 1fr minmax(0, 400px) minmax(0, 600px) 1fr;
  grid-template-rows: 25px 25px 65px auto 100px 20px auto;
  background-color: #4E4E4E;
  min-height: calc(100vh - 150px);
}
.profile__title {
  grid-column: 3;
  grid-row: 1/3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile__title__text {
  color: #F5F1E3;
  font-size: 20px;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.profile__img {
  grid-column: 2;
  grid-row: 2/5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile__img__character {
  height: 300px;
}
.profile__add {
  grid-column: 3;
  grid-row: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
}
.profile__add__text {
  color: #F5F1E3;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.profile__add__button {
  height: 30px;
  width: 70px;
  background-image: url("../assets/add.svg");
  background-color: #BBCDE5;
  background-size: 40%;
  border: none;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.profile__divider {
  grid-column: 3;
  grid-row: 4;
  display: inline-block;
  height: 1px;
  width: 60%;
  margin: 0 auto;
  background-color: #F5F1E3;
  position: relative;
}
.profile__stats {
  grid-column: 2;
  grid-row: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #F5F1E3;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.profile__stats__name {
  margin-top: 0;
  font-size: 18px;
}
.profile__stats__power {
  margin: 0;
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.profile__stats__power > span {
  white-space: nowrap;
}
.profile__stats__rank {
  margin: 0;
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.profile__stats__rank > span {
  white-space: nowrap;
}
.profile__tasks {
  grid-column: 3;
  grid-row: 4/6;
}
.profile__badges {
  grid-column: 2;
  grid-row: 7;
  display: flex;
  width: 60%;
  margin: 0 auto;
}
.profile__badges__img {
  width: 40px;
  height: 40px;
}
.profile__money {
  grid-column: 3;
  grid-row: 7;
  color: #F5F1E3;
  display: flex;
  justify-content: center;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.profile__money__img {
  height: 20px;
  padding-right: 3px;
}
.profile__money__text {
  margin: 0;
  padding-left: 3px;
}
.profile__form {
  position: fixed;
  z-index: 100;
  min-width: 100vw;
  top: 0;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "mainText";
  font-size: 16px;
}

input {
  margin: 0;
  padding: 0;
  font-family: "mainText";
  font-size: 16px;
  color: #BBCDE5;
}

h4, button {
  margin: 0;
  padding: 0;
  font-family: "mainText";
  font-size: 24px;
}

h5 {
  font-family: "mainTitle";
  margin: 0;
  font-size: 128px;
}/*# sourceMappingURL=main.css.map */