.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	background-color: $black;
	color: $white;
	&__button {
		border: none;
		background-color: transparent;
		color: $white;
		&:hover {
			text-decoration: underline;
			cursor: pointer;
		}
	}
	&__github {
		position: absolute;
		bottom: 0;
		cursor: pointer;
	}
}