.home {
	display: grid;
	grid-template-columns: auto 300px auto;
	grid-template-rows: auto 200px auto;
	min-height: 100vh;
	background-image: url('../assets/background.jpeg');
	width: 100%;
	height: auto;
	background-size: cover;
	background-position: center center;
	color: $white;
	&__title {
		grid-column: 2/2;
		grid-row: 1;
		display: flex;
  	align-items: center;
  	justify-content: center;
		cursor: default;
		user-select: none;
	}
	&__menu {
		grid-column: 2/2;
		grid-row: 2;
		display: flex;
		flex-direction: column;
		text-align: center;
		&__about {
			padding-top: 20px;
		}
		&__signup {
			padding-top: 20px;
		}
		&__login {
			padding-top: 20px;
		}
	}
	&__button {
		border: none;
		background-color: transparent;
		color: $white;
		&:hover {
			text-decoration: underline;
			cursor: pointer;
		}
	}
	&__github {
		height: 30px;
		width: 30px;
		align-items: center;
		background-image: url('../assets/github-logo.svg');
		background-size: 100%;
		background-repeat: no-repeat;
		grid-column: 2/2;
		grid-row: 3;
		margin: auto;
		cursor: pointer;
	}
}